header {
    /* background-image: url(../images/calgary_skyline.jpg); */
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    /* background-size: cover;
    background-position: center; */
    padding: 2rem 0;
}
header > .container {
    margin: 0 auto;
    height: 100%;
    position: relative;
    /* border: 1px solid red; */
}
header > .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
header > .container > .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* header.hero > .header > img {
    width: 12rem;
    height: auto;
} */
header > .container > .top > .logo {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    position: relative;
}
header > .container > .top > .logo::before {
    content: "";
    position: absolute;
    width: 1.125rem;
    height: 3px;
    background-color: var(--accent);
    top: 0;
    left: 0.5rem;
}
header > .container > .top > nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}
header > .container > .top > nav > a {
    color: var(--white);
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    letter-spacing: -0.25px;
    border-bottom: 4px solid transparent;
    transition: border-color 150ms ease;
}
header > .container > .top > nav > a:hover {
    border-color: var(--accent);
}
header > .container > .top > nav > a#contact {
    background-color: var(--accent);
    border: 1px solid var(--accent-dark);
    border-bottom: 4px solid var(--accent-dark);
    border-radius: 0.5rem;
    transition: box-shadow 150ms ease;
}
header > .container > .top > nav > a#contact:hover {
    /* background-color: var(--accent-light); */
    box-shadow: var(--shadow);
}

header > .container > .cta {
    color: var(--white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* border: 1px solid red; */
    width: max(35%, 23rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
header > .container > .cta > h1 {
    /* color: var(--white); */
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: -0.25px;
    line-height: 4.5rem;
    margin: 0;
}
header > .container > .cta > p {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 0;
}
header > .container > .cta > .actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
header > .container > .cta > .actions > a {
    /* background-color: var(--accent-lighter); */
    border: 1px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 0.5rem;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: border 150ms ease;
}
header > .container > .cta > .actions > a:hover {
    border: 1px solid var(--accent);
    border-bottom: 4px solid var(--accent-dark);
}
header > .container > .cta > .actions > a > i {
    font-size: 1.5rem;
}
header > .container > .cta > .actions > a#consult {
    background-color: var(--accent);
    border-bottom: 4px solid var(--accent-dark);
    box-shadow: var(--shadow);
}
