main {
    /* margin: 6rem auto; */
    display: flex;
    flex-direction: column;
    /* gap: 6rem; */
}
main > section {
    /* border: 1px solid red; */
    /* margin: 5rem auto; */
    padding: 6rem 0;
    width: 100%;
}
main > section > .container {
    margin: 0 auto;
    width: min(120rem, 90%);
}
#brief {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}
#brief > h2 {
    color: var(--accent-dark);
    font-size: 2rem;
    font-weight: 500;
}
#brief > .blurb {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#brief > .blurb > p {
    /* border: 1px solid red; */
    color: var(--dark);
    /* font-size: 1.125rem; */
    /* font-weight: 400; */
}
#services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

#testimonials {
    background: linear-gradient(300deg, rgba(202, 170, 122, 0.4) 0%, rgba(222, 203, 170, 0.1) 100%);
    padding-top: 10rem;
}
#testimonials > .container {
    /* border: 1px solid red; */
    position: relative;
    /* z-index: 10; */
}
#testimonials > .container > h2 {
    color: var(--accent-lighter);
    opacity: 0.7;
    position: absolute;
    font-family: var(--font-serif);
    font-size: 7rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: -1.5px;
    top: -7.5rem;
    /* top: -2rem; */
    /* z-index: -1; */
}
#testimonials > .container > .review {
    padding: 3rem;
    background-color: var(--white);
    width: min(80rem, 80%);
    margin: 0 auto;
}
