main {
    /* margin: 6rem auto; */
    display: flex;
    flex-direction: column;
    /* gap: 6rem; */
}
main > section {
    /* border: 1px solid red; */
    /* margin: 5rem auto; */
    padding: 6rem 0;
    width: 100%;
}
main > section > .container {
    margin: 0 auto;
    width: min(120rem, 90%);
}

/* BRIEF */
/* #brief { */
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem; */
    /* padding: 4rem 0; */
    /* border: 1px solid red; */
/* } */
#brief {
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
}
#brief > .split {
    /* background-image: linear-gradient(
        310deg,
        hsl(17deg 36% 29%) 0%,
        hsl(20deg 34% 34%) 3%,
        hsl(23deg 32% 39%) 8%,
        hsl(26deg 30% 45%) 13%,
        hsl(29deg 29% 50%) 20%,
        hsl(31deg 34% 55%) 30%,
        hsl(34deg 40% 61%) 42%,
        hsl(36deg 42% 62%) 57%,
        hsl(35deg 41% 60%) 70%,
        hsl(34deg 40% 57%) 81%,
        hsl(33deg 40% 55%) 88%,
        hsl(32deg 39% 52%) 93%,
        hsl(31deg 38% 50%) 97%,
        hsl(31deg 41% 47%) 100%
    ); */
    /* border-radius: 0.5rem; */
    padding: clamp(3.5rem, 5vw, 5rem) 0;
    /* align-items: flex-start; */
    /* justify-content: space-between; */
    /* gap: 10rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 2rem;
    /* display: grid; */
    /* grid-template-columns: 40% 15% 45%; */
}
/* #brief > .split > div {
    text-align: center;
} */
/* #brief > .split > :first-child { */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(1.5rem, 5vw, 2.5rem); */
    /* color: var(--white); */
    /* width: min(100rem, 100%); */
    /* border: 1px solid red; */
/* } */
/* @media (min-width: 60rem) {
    #brief > .split {
        display: grid;
        grid-template-columns: 40% 60%;
    }
} */
#brief > .split > h2 {
    /* color: var(--white); */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--accent);
    font-family: var(--font-serif);
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 500;
    letter-spacing: -0.25px;
    line-height: clamp(1.75rem, 5vw, 2.75rem);
    text-align: center;
}
#brief > .split > h2 > i {
    font-size: 3rem;
}
/* #brief > .split > :last-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    border: 1px solid red;
} */
#brief > .split > .blurb {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    width: 60%;
    /* border: 1px solid red; */
}
#brief > .split > .blurb > p {
    line-height: 1.75rem;
}
#brief > .split > .blurb > p > a {
    color: var(--darkest);
}
#brief > .split > :last-child > a {
    padding: 1rem 1.5rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: var(--accent);
    /* background-color: var(--accent-darker); */
    color: var(--white);
    /* font-size: 0.875rem; */
    /* box-shadow: var(--shadow); */
    text-decoration: none;
    transition: background-color 150ms ease;
}
#brief > .split > :last-child > a:hover {
    background-color: var(--accent-dark);
}
#brief > .split > img {
    border-radius: 0.5rem;
    height: auto;
    width: 100%;
}

/* SERVICES */
#services {
    /* background-image: url(/images/ridoutbarron_pattern-001.svg); */
    background-color: var(--charcoal);
    background-size: cover;
    background-repeat: no-repeat;
    /* padding-top: 4rem; */
    padding-top: clamp(3.5rem, 5vw, 5rem);
}
/* #services > .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
} */
#services > .container > h2 {
    /* color: var(--off-white); */
    color: var(--accent);
    /* font-size: 2.5rem; */
    font-family: var(--font-serif);
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: 500;
    /* text-align: center; */
}
#services > .container > .blurb {
    color: var(--white);
    font-weight: 300;
    opacity: 0.8;
}
#services > .container > .split {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 2rem;
    margin-top: 2.5rem;
}
@media (min-width: 40rem) {
    #services > .container > .split {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@media (min-width: 80rem) {
    #services > .container > .split {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;
    }
}

/* HISTORY  */
#history {
    --bg-alpha: 0.8;
    background-image:
        /* linear-gradient(
            270deg,
            hsl(12deg 36% 14% / var(--bg-alpha)) 0%,
            hsl(13deg 37% 17% / var(--bg-alpha)) 5%,
            hsl(14deg 37% 20% / var(--bg-alpha)) 11%,
            hsl(16deg 38% 23% / var(--bg-alpha)) 18%,
            hsl(18deg 39% 26% / var(--bg-alpha)) 27%,
            hsl(19deg 40% 29% / var(--bg-alpha)) 37%,
            hsl(20deg 40% 32% / var(--bg-alpha)) 49%,
            hsl(20deg 40% 32% / var(--bg-alpha)) 60%,
            hsl(19deg 40% 29% / var(--bg-alpha)) 70%,
            hsl(18deg 39% 26% / var(--bg-alpha)) 78%,
            hsl(16deg 38% 23% / var(--bg-alpha)) 85%,
            hsl(14deg 37% 20% / var(--bg-alpha)) 91%,
            hsl(13deg 37% 17% / var(--bg-alpha)) 96%,
            hsl(12deg 36% 14% / var(--bg-alpha)) 100%
        ), */
        linear-gradient(
            270deg,
            rgba(52, 51, 51, 0.9),
            rgba(52, 51, 51, 0.5)
        ),
        url(/images/banff-001.jpg);
        /* url(/images/stampede-002.jpg); */
    background-size: cover;
    background-position: 0 30%;
    padding-top: clamp(3.5rem, 5vw, 5rem);
    position: relative;
}
#history > .overlay {
    /* background-color: rgba(52, 51, 51, 0.3); */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#history > .container {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    /* display: grid; */
    /* grid-template-columns: 40% 15% 45%; */
}
@media (min-width: 80rem) {
    #history > .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }
}
/* #history > .container > :first-child {
    height: 30rem;
} */
#history > .container > :first-child > h2 {
    font-family: var(--font-serif);
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: 400;
    border-bottom: 3px solid var(--accent);
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}
#history > .container > :first-child > p {
    line-height: 1.625rem;
    opacity: 0.8;
}
#history > .container > :first-child > p:not(:last-child) {
    margin-bottom: 1rem;
}

/* TEAM */
#team {
    background-image: url(/images/team/team_bw.jpg);
    background-size: cover;
    background-position: 50% 20%;
    min-height: 50rem;
    position: relative;
    /* padding-top: 4rem; */
    /* border: 1px solid red; */
}
#team > .overlay {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
/* #team {
    --bg-alpha: 0.8;
    --bg-alpha-2: 0;
    background-image:
        linear-gradient(
            270deg,
            hsl(12deg 36% 14% / var(--bg-alpha)) 0%,
            hsl(13deg 37% 17% / var(--bg-alpha)) 5%,
            hsl(14deg 37% 20% / var(--bg-alpha)) 11%,
            hsl(16deg 38% 23% / var(--bg-alpha)) 18%,
            hsl(18deg 39% 26% / var(--bg-alpha)) 27%,
            hsl(19deg 40% 29% / var(--bg-alpha-2)) 37%,
            hsl(20deg 40% 32% / var(--bg-alpha-2)) 49%,
            hsl(20deg 40% 32% / var(--bg-alpha-2)) 60%,
            hsl(19deg 40% 29% / var(--bg-alpha-2)) 70%,
            hsl(18deg 39% 26% / var(--bg-alpha)) 78%,
            hsl(16deg 38% 23% / var(--bg-alpha)) 85%,
            hsl(14deg 37% 20% / var(--bg-alpha)) 91%,
            hsl(13deg 37% 17% / var(--bg-alpha)) 96%,
            hsl(12deg 36% 14% / var(--bg-alpha)) 100%
        ),
        url(/images/team-001.png);
    background-size: cover;
} */
#team > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */
    /* border: 1px solid red; */
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#team > .container > h2 {
    color: var(--charcoal);
    font-size: 4rem;
    font-family: var(--font-serif);
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#team > .container > .divider {
    background-color: var(--accent);
    height: 2px;
    width: 20rem;
    margin: 2rem auto;
}
#team > .container > p {
    /* border: 1px solid red; */
    font-size: 1.5rem;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 2rem;
}
#team > .container > .meet {
    background-color: var(--accent);
    color: var(--white);
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    letter-spacing: -0.25px;
    border-bottom: 4px solid transparent;
    border-radius: 0.5rem;
    transition: border-color 150ms ease;
    /* display: inline; */
    /* width: auto; */
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    flex-grow: 0;
    width: max-content;
}
#team > .container > .split {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    /* gap: 4rem; */
}
#team > .container > .split > .member {
    background-color: var(--lighter);
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    /* border-radius: 1rem; */
    display: flex;
    /* align-items: flex-start; */
    /* gap: 1.5rem; */
    /* flex-direction: column; */
    /* align-items: flex-start;
    gap: 2rem; */
    /* border: 1px solid red; */
    /* justify-content: center; */
    /* align-items: center; */
}
#team > .container > .split > .member > .img {
    width: 24rem;
    height: 40rem;
    border-top-left-radius: 3rem;
    background-size: cover;
    background-position: center;
    /* background-size: cover; */
    /* background-position: center; */
}
#team > .container > .split > .member.peter > .img {
    background-image: url(/images/ryan-001.jpg);
}
#team > .container > .split > .member.jacqui > .img {
    background-image: url(/images/margot-001.webp);
    /* background-position: top center; */
}
#team > .container > .split > .member > .bio {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1.75rem;
    width: 100%;
}
#team > .container > .split > .member > .bio > .header > h3 {
    /* border: 1px solid red; */
    color: var(--accent-dark);
    font-family: var(--font-serif);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    border-bottom: 3px solid var(--light);
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
}
#team > .container > .split > .member > .bio > .header > .title {
    color: var(--dark);
    /* font-family: var(--font-serif); */
    /* font-size: 1.125rem; */
    font-weight: 500;
}
#team > .container > .split > .member > .bio > .education {
    display: flex;
    flex-direction: column;
}
#team > .container > .split > .member > .bio > .education > .school {
    color: var(--darker);
    font-size: 1.25rem;
    font-weight: 500;
}
#team > .container > .split > .member > .bio > .education > .year {
    color: var(--semi-dark);
    font-size: 1rem;
    font-weight: 500;
}
#team > .container > .split > .member > .bio > .contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#team > .container > .split > .member > .bio > .contact > .row {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: var(--darker);
}
#team > .container > .split > .member > .bio > .contact > .row > i {
    color: var(--accent-light);
    font-size: 1.5rem;
}
#team > .container > .split > .member > .bio > p {
    opacity: 0.6;
    line-height: 1.75rem;
}



/* TESTIMONIALS */
#testimonials {
    /* background-color: var(--accent-lightest); */
    /* background: linear-gradient(300deg, rgba(202, 170, 122, 0.4) 0%, rgba(222, 203, 170, 0.1) 100%); */
    /* padding-top: 10rem; */
    /* padding-top: 4rem; */
    /* --bg-alpha: 0.7;
    --bg-alpha-2: 0.8;
    background-image:
        linear-gradient(
            to bottom,
            #fff 20%,
            hsl(12deg 36% 14% / var(--bg-alpha)) 20%),
        url(/images/peace-bridge-001.jpg); */
        /* url(/images/stampede-002.jpg); */
    /* background-image:
        linear-gradient(
            270deg,
            hsl(12deg 36% 14% / var(--bg-alpha)) 0%,
            hsl(13deg 37% 17% / var(--bg-alpha)) 5%,
            hsl(14deg 37% 20% / var(--bg-alpha)) 11%,
            hsl(16deg 38% 23% / var(--bg-alpha)) 18%,
            hsl(18deg 39% 26% / var(--bg-alpha)) 27%,
            hsl(19deg 40% 29% / var(--bg-alpha)) 37%,
            hsl(20deg 40% 32% / var(--bg-alpha)) 49%,
            hsl(20deg 40% 32% / var(--bg-alpha)) 60%,
            hsl(19deg 40% 29% / var(--bg-alpha)) 70%,
            hsl(18deg 39% 26% / var(--bg-alpha)) 78%,
            hsl(16deg 38% 23% / var(--bg-alpha)) 85%,
            hsl(14deg 37% 20% / var(--bg-alpha)) 91%,
            hsl(13deg 37% 17% / var(--bg-alpha)) 96%,
            hsl(12deg 36% 14% / var(--bg-alpha)) 100%
        ),
        url(/images/stampede-002.jpg); */
    /* background-size: cover; */
    /* background-position: 0 20%; */
    background-color: var(--off-white);
    position: relative;
    /* padding-top: 0rem; */
    /* padding-bottom: 16rem; */
    /* padding: 2rem; */
    padding: 0;
    overflow: hidden;
    /* border: 1px solid red; */
}
/* @media (min-width: 60rem) { */
    /* #testimonials {
        --bg-alpha: 0.7;
        --bg-alpha-2: 0.8; */
        /* background-image: */
            /* linear-gradient(
                to bottom,
                #fff 20%,
                hsl(12deg 36% 14% / var(--bg-alpha)) 20%), */
            /* url(/images/peace-bridge-001.jpg); */
        /* background-size: cover; */
        /* background-position: 0 20%; */
        /* background-position: center; */
        /* padding: 3rem 0; */
        /* padding-top: 0rem; */
        /* padding-bottom: 12rem; */
    /* } */
    
/* } */
/* #testimonials > .container { */
/* #testimonials > .split { */
    /* border: 1px solid red; */
    /* background-color: var(--lighter); */
    /* opacity: 0.9; */
    /* position: relative; */
    /* padding: 4rem; */
    /* z-index: 10; */
/* } */
@media (min-width: 60rem) {
    #testimonials > .split {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}
#testimonials > .split > .content {
    padding-top: clamp(3.5rem, 5vw, 5rem);
    padding-bottom: clamp(3.5rem, 5vw, 5rem);
}
#testimonials > .split > .content > h2 {
    color: var(--accent);
    font-family: var(--font-serif);
    /* font-size: 2.5rem; */
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: 500;
    margin-bottom: 1rem;
    /* text-align: center; */
    /* color: var(--accent-lighter);
    opacity: 0.7;
    position: absolute;
    font-family: var(--font-serif);
    font-size: 7rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: -1.5px;
    top: -7.5rem; */
    /* top: -2rem; */
    /* z-index: -1; */
}
/* #testimonials > .container > .review {
    padding: 3rem;
    background-color: var(--white);
    width: min(80rem, 80%);
    margin: 0 auto;
} */
#testimonials > .split > .content > .text {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem; */
    /* display: flex;
    align-items: flex-start;
    justify-content: space-between; */
}
#testimonials > .split > .content > .text > .testimonial {
    /* background-color: var(--white); */
    /* border: 1px solid red; */
    border-radius: 0.5rem;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    /* box-shadow: var(--shadow); */
    /* width: min(30rem, 100%); */
    /* width: 80%; */
    /* padding: 0 3rem; */
    /* text-align: center; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
#testimonials > .split > .content > .text > .testimonial > .ph-quotes {
    color: var(--accent);
    font-size: 3rem;
    /* font-style: italic; */
}
#testimonials > .split > .content > .text > .testimonial > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* #testimonials > .split > .content > .text > .testimonial > .content > .nav-buttons > button {
    display: none;
} */
/* @media (min-width: 40rem) { */

#testimonials > .split > .content > .text > .testimonial > .content > .nav-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}
#testimonials > .split > .content > .text > .testimonial > .content > .nav-buttons > button {
    /* padding: 0 2rem; */
    height: 3rem;
    width: 3rem;
    border: 1px solid var(--accent-light);
    border-radius: 50%;
    /* background-color: var(--accent); */
    background-color: transparent;
    /* color: var(--white); */
    color: var(--accent-darker);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    /* font-weight: 500; */
    outline: 0;
    padding: 1rem 1rem;
    transition: background-color 150ms ease, color 150ms ease;
}
/* } */
#testimonials > .container > .split > .testimonial > .content > .nav:hover {
    background-color: var(--accent-light);
    color: var(--white);
}
#testimonials > .split > .content > .text > .testimonial > .content > .quote {
    /* box-shadow: var(--shadow); */
    padding: 0 1rem;
}
#testimonials > .split > .content > .text > .testimonial > .content > .quote > p {
    font-family: var(--font-serif);
    font-size: clamp(1.125rem, 2vw, 1.25rem);
    line-height: clamp(2rem, 5vw, 2.5rem);
}
#testimonials > .split > .content > .text > .testimonial > .content > .quote > .footer {
    color: var(--dark);
    margin-top: 1rem;
    font-size: 1.125rem;
    /* font-style: italic; */
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}
#testimonials > .split > .content > .text > .testimonial > .content > .quote > .footer > .author {
    text-transform: uppercase;
    letter-spacing: 1px;
}
#testimonials > .split > .content > .text > .testimonial > .content > .quote > .footer > .info {
    font-family: var(--font-serif);
    font-style: italic;
    opacity: 0.8;
}
#testimonials > .split > .content > .text > .testimonial > .footer > .author::before {
    content: "- ";
}
#testimonials > .split > .content > .text > .testimonial > .footer > .company {
    font-family: var(--font-serif);
    font-size: 0.75rem;
}
/* #testimonials > .image {
    display: none;
} */
@media (min-width: 60rem) {
    #testimonials > .split { gap: 5rem }
    #testimonials > .image {
        /* border: 2px solid red; */
        z-index: 100;
        /* position: absolute; */
        /* height: min(30rem, 100%); */
        height: 100%;
        width: 30%;
        /* top: 50%; */
        /* left: 50%; */
        /* transform: translateY(-50%); */
        /* right: 0; */
        background-image: url(/images/barron_bldg.jpg);
        background-size: cover;
        /* background-position: 50% 0%; */
        background-position: center;
        /* background-repeat: no-repeat; */
    }
}

/* COMMUNITY */
#community {
    /* background-image: url(/images/ridoutbarron_pattern-001.svg); */
    background-image: linear-gradient(to bottom, #fff 30%, #eee5d3 30%);
    /* padding-top: 0rem; */
}
#community > .container {
    /* border: 1px solid red; */
    background-color: var(--lighter);
}
