.crumbs {
    /* border: 1px solid red; */
    margin-bottom: 2rem;
}
.crumbs > ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.crumbs > ul > li {
    font-size: 0.875rem;
}
.crumbs > ul > li:not(:last-child) {
    opacity: 0.6;
}
.crumbs > ul > li:not(:last-child):hover {
    opacity: 1.0;
}
.crumbs > ul > li:not(:last-child)::after {
    content: "\25B6";
    margin-left: 1rem;
}
.crumbs > ul > li > a {
    color: var(--darkest);
    text-underline-offset: 0.25rem;
    transition: color 150ms ease;
}
.crumbs > ul > li:not(:last-child) > a {
    text-decoration: none;
}
.crumbs > ul > li > a:hover {
    color: var(--accent);
    text-underline-offset: 0.25rem;
}
.crumbs > ul > li:not(:last-child) > a:hover {
    text-decoration: underline;
}
